.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 40px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
    position: relative;
    z-index: 10;
  }
  
  .logo {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .logo img {
    width: 65px;
    height: 65px;
    border-radius: 17%;
    border: 1px solid black;
  }
  
  .logo span {
    font-weight: bold;
    font-size: 1.1rem;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
  }
  
  nav a {
    text-decoration: none;
    color: #222;
    font-weight: 500;
    transition: color 0.3s;
  }
  
  nav a:hover {
    color: #facc15;
  }
  